.print-detail {
    cursor: pointer;
}

.checkDetail {
    height: 72vh;
}

.list-group {
    .list-group-item {
        padding: 0.75rem 0.25rem;
    }

    i {
        width: 50px;
        text-align: center;
    }

    span {
        font-size: 1.5vw;
        height: 32px;
        vertical-align: text-bottom;
    }
}