<div class="card full-height">
  <div class="card-header">Uygulama Konsolu</div>
  <div class="card-body p-2">
    <div class="row">
      <div class="col-xl-2 col-lg-3 pr-1">
        <div class="card inside-height">
          <div class="card-header">Veritabanı</div>
          <div class="card-body p-0 flow">
            <div class="btn-group-vertical btn-block btn-group-lg">
              <button *ngFor="let db of databases" type="button" [ngClass]="{'btn-danger bg-danger text-white': selectedDB == db}"
                (click)="showDatabase(db)" class="btn btn-secondary dark-bg">{{db}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-6 pl-0 pr-1">
        <div class="card inside-height">
          <div class="card-header">Dökümanlar
            <span class="float-right">
              <button [disabled]="selectedDB == undefined" data-toggle="modal" data-target="#docModal" (click)="onCreate = true" class="btn btn-sm btn-warning"> + Ekle</button>
            </span>
          </div>
          <div class="card-body p-0 flow">
            <table class="table table-hover table-striped">
              <tbody>
                <tr *ngFor="let item of documents" (click)="showDocument(item)">
                  <td>{{item| json}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="input-group">
              <input #filterKey type="text" placeholder="Key" class="form-control form-control-md">
              <input #filterValue type="text" placeholder="Value" class="form-control form-control-md">
              <span class="input-group-append">
                <button class="btn btn-secondary" (click)="getByFilter(filterKey.value,filterValue.value)" type="button">Sorgula</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 pl-0">
        <div class="card inside-height">
          <div class="card-header">
            İşlemler
          </div>
          <div class="card-body p-0">
          </div>
          <div class="card-footer p-1">
            <button [disabled]="selectedDB == undefined" (click)="resolveDB()" class="btn btn-quickly btn-md btn-block">Veritabanı
              Düzelt</button>
          </div>
          <div class="card-footer p-1">
            <button [disabled]="selectedDB == undefined" (click)="clearDB()" class="btn btn-secondary btn-md btn-block">Veritabanı
              Boşalt</button>
          </div>
          <div class="card-footer p-1">
            <button [disabled]="selectedDB == undefined" (click)="compactDB()" class="btn btn-default btn-md btn-block">Veritabanı
              Sıkıştır</button>
          </div>
          <div class="card-footer p-1">
            <button (click)="resetReports()" class="btn btn-danger btn-md btn-block">Raporları Sıfırla</button>
          </div>
          <div class="card-footer p-1">
            <button (click)="syncData()" [disabled]="selectedDB == undefined || selectedDB == 'allData'" class="btn btn-warning btn-md btn-block">Senkorinize
              Et</button>
          </div>
          <div class="card-footer p-1">
            <button type="button" (click)="refreshToken()" class="btn btn-success btn-block btn-md">Erişimi Güncelle</button>
          </div>
          <div class="card-footer p-1">
            <button type="button" (click)="testEndDay()" class="btn btn-info btn-block btn-md">Gün Sonu Güncelle</button>
          </div>
          <div class="card-footer p-1">
            <button type="button" (click)="updateProgram()" class="btn btn-primary btn-block btn-md">Programı Güncelle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Döküman Düzenle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea #editArea rows="18" class="form-control">{{selectedDoc | json }}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
        <button *ngIf="!onCreate" type="button" (click)="removeDocument(selectedDoc?._id)" class="btn btn-danger btn-lg">Sil</button>
        <button *ngIf="!onCreate" type="button" (click)="editDocument(editArea.value)" class="btn btn-success btn-lg">Kaydet</button>
        <button *ngIf="onCreate" type="button" (click)="createDocument(editArea.value)" class="btn btn-success btn-lg">Oluştur</button>
      </div>
    </div>
  </div>
</div>