<ul class="nav nav-tabs nav-justified" id="reportTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#recipes" role="tab">
        <i class="fa fa-print" aria-hidden="true"></i> Yazıcılar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#users" role="tab">
        <i class="fa fa-scroll" aria-hidden="true"></i> Kağıt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" data-toggle="tab" href="#auths" role="tab">
        <i class="fa fa-shield" aria-hidden="true"></i> Durumlar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" data-toggle="tab" href="#auths" role="tab">
        <i class="fa fa-credit-card" aria-hidden="true"></i> Koşullar</a>
    </li>
  </ul>

  <div class="tab-content">
      <div class="tab-pane active" id="recipes" role="tabpanel">
          <div class="card ntb">
            <div class="card-header">
              <h5 class="mt-2">Reçeteler</h5>
            </div>
            <div class="card-body tab-height flow">
      
            </div>
            <div class="card-footer">
              <i class="fa fa-question-circle" aria-hidden="true"></i> Yardım
            </div>
          </div>
        </div>
      <div class="tab-pane" id="auths" role="tabpanel">
        <div class="card ntb">
          <div class="card-header">
            <h5 class="mt-2">Kullanıcı İzinleri</h5>
          </div>
          <div class="card-body tab-height flow">
    
          </div>
          <div class="card-footer">
            <i class="fa fa-question-circle" aria-hidden="true"></i> Yardım
          </div>
        </div>
      </div>
    </div>