.on-keyboard{
    position: absolute;
    width: 100vw;
    bottom: 0px;
    padding: 15px;
    z-index: 9999999;
    background-color:#2b3e50;
    animation-duration: 0.3s;
    animation-delay: 0s;
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.40);
}
.key{
    height: 8.8vh;
    margin: 0.5vh;
    width: 8.8vh;
    font-size: 2rem;
}
.space{
    height: 8.8vh;
    margin: 0.5vh;
    width: 126vh;
    font-size: 2rem;
}
.inputKey{
    height: 8.8vh;
    margin-bottom: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 126vh;
    font-size: 2rem;
}
.numb{
    width: 28.5vh !important;
}