<div class="row">
  <div class="col-lg-10 pr-0">
    <div class="card full-height">
      <div class="card-header pb-0">
        <div class="row">
          <div class="col-lg-9 pl-1 pr-1">
            <!-- Masalar  nav-justified -->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': section == 'Masalar'}" (click)="changeSection('Masalar')">
                  <i class="fa fa-square" aria-hidden="true"></i>
                  Masalar
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': section == 'Kroki'}" (click)="changeSection('Kroki')">
                  <i class="fa fa-map" aria-hidden="true"></i> Kroki</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': section == 'Hesaplar'}" (click)="changeSection('Hesaplar')">
                  <i class="fa fa-sticky-note" aria-hidden="true"></i>
                  Hesaplar
                  <span *ngIf="checks.length > 0" class="badge bg-danger">{{checks?.length}}</span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': section == 'Paket Servis'}" (click)="changeSection('Kroki')">
                  <i class="fa fa-motorcycle" aria-hidden="true"></i> Paket Servis</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': section == 'Siparişler'}" (click)="changeSection('Siparişler')">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  Siparişler
                  <span *ngIf="waitingOrders > 0" class="badge bg-danger animated flash infinite slow">{{waitingOrders}}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': section == 'Ödemeler'}" (click)="changeSection('Ödemeler')">
                  <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                  Ödemeler
                  <span *ngIf="waitingReceipts > 0" class="badge bg-danger animated flash infinite slow">{{waitingReceipts}}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 pr-2">
            <div class="input-group input-group">
              <div class="input-group-prepend normal">
                <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
              </div>
              <input #tableName type="text" placeholder="Masa Adı Girin." (click)="tableViews = tables" (keyup)="filterTables(tableName.value)" class="form-control form-contol">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="section == 'Masalar'" class="card-body pt-0 flow">
        <section id="tables">
          <div class="row">
            <div *ngFor="let table of tableViews" [routerLink]="['/selling-screen','Normal', table._id]" class="col-xl-2 col-lg-2 mt-2 col-card">
              <div [ngClass]="{'bg-success': table.status == 2, 'bg-warning text-dark':table.status == 1, 'bg-danger text-white animated flash slow infinite': table.status == 3, 'bg-indigo text-white animated tada slow infinite': table.status == 4 }" class="card tableCard">
                <div class="card-body p-2">
                  <h1 [ngClass]="{'long-name mb-3': table.name.length >= 7}" class="card-title mb-2">{{table.name}}</h1>
                  <span *ngIf="getTableTotal(table._id)" style="font-weight:bolder; position: relative; top:-5px;">{{getTableTotal(table._id) | price}}</span>
                  <p class="tableInfo">
                      <i class="fa fa-user"></i> {{table.capacity}}
                    <span *ngIf="table.status == 2" class="pull-right">
                      <i class="fa fa-clock-o" aria-hidden="true"></i> {{table.timestamp | timeAgo }}
                    </span>
                    <span *ngIf="table.status == 3" class="pull-right">
                      <i class="fa fa-print" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let check of fastChecks" [routerLink]="['/selling-screen','Fast', check._id]" class="col-xl-2 col-lg-2 mt-2 col-card">
              <div class="card bg-info tableCard">
                <div class="card-body p-3">
                  <h1 class="card-title long-name mb-0">{{check.note}}</h1>
                  <p class="card-text">
                    <i class="fa fa-user" aria-hidden="true"></i> {{check.owner}}
                    <br>
                    <i class="fa fa-clock-o"></i> {{check.timestamp | date:'HH:mm'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div *ngIf="section == 'Hesaplar'" class="card-body pt-0 flow">
        <section id="checks">
          <div class="row">
            <div *ngFor="let check of checksView" [routerLink]="['/selling-screen','Normal', check.table_id]" class="col-xl-3 col-lg-4 mt-2 col-card check-card">
              <!-- [ngClass]="check.type == 1 ? 'bg-white text-dark' : 'bg-info text-white'" -->
              <div class="card" [ngClass]="{'bg-white text-dark': check.type == 1, 'bg-info text-white' : check.type == 2 , 'bg-teal text-white' : check.type == 5}">
                <div class="card-header pr-2 pl-2">
                  <b>
                    <span class="float-left">{{check.table_id | general:'tables' | async}} <small style="font-weight: bold;">{{check.note}}</small></span>
                    <span class="float-right">{{check.total_price | price }}</span>
                  </b>
                </div>
                <div class="card-body pr-2 pl-2 pt-1 check-flow">
                  <div *ngFor="let product of check.products" class="check-product">
                    <div class="product-name">
                      {{product.name}}
                    </div>
                    <div class="product-price">
                      {{product.price | price }}
                    </div>
                  </div>
                </div>
                <div class="card-footer p-2">
                  <span class="float-left">
                    <i class="fa fa-user" aria-hidden="true"></i> {{check.owner}}
                  </span>
                  <span class="float-right">
                    <i class="fa fa-clock-o"></i> {{check.timestamp | date:'HH:mm'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div *ngIf="section == 'Siparişler'" class="card-body pt-0 flow">
        <section id="orders">
          <div class="row">
            <ng-container *ngFor="let order of ordersView">
              <div class="col-xl-3 col-lg-4 mt-2 col-card check-card mb-3">
                <div class="card text-dark animated slow" [ngClass]="{'bg-warning': order.status == 0, 'bg-info' : order.status == 1 , 'bg-teal fadeOut' : order.status == 2, 'bg-success fadeOut' : order.status == 4, 'bg-danger fadeOut' : order.status == 3}">
                  <div class="card-header pr-2 pl-2">
                    <b>
                      <span class="float-left">{{ findTable(order.check) }} <small style="font-weight: bold;">{{order.user.name}}</small></span>
                      <span class="float-right">{{ order.timestamp | date: 'HH:mm' }}</span>
                      <!-- <p>{{statusNote(order.status)}}</p> -->
                    </b>
                  </div>
                  <div class="card-body pr-2 pl-2 pt-1 check-flow">
                    <div *ngFor="let product of order.items" class="check-product">
                      <div class="product-name">
                        {{product.name}} {{product.type | titlecase}}
                        <p *ngIf="product.note"><small>{{product.note}}</small></p>
                      </div>
                      <div class="product-price">
                        {{product.price | price }}
                      </div>
                    </div>
                  </div>
                  <div class="card-footer p-2">
                    <div *ngIf="order.status == 0" class="btn-group btn-group-justify btn-block">
                      <button type="button" [disabled]="!isOwner(order.check)" (click)="cancelOrder(order)" oneShot class="btn btn-danger ">İptal</button>
                      <button type="button" [disabled]="!isOwner(order.check)" (click)="acceptOrder(order)" oneShot class="btn btn-success btn-block">Onayla</button>
                    </div>
                    <button *ngIf="order.status == 1" [disabled]="!isOwner(order.check)" type="button" (click)="approoveOrder(order)" oneShot class="btn btn-success btn-block">Tamamla</button>
                    <h4 *ngIf="order.status == 2" class="text-center mb-1 mt-1">Teslim Edildi</h4>
                    <h4 *ngIf="order.status == 3" class="text-center mb-1 mt-1">İptal Edildi</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </section>
      </div>

      <div *ngIf="section == 'Kroki'" class="card-body p-0">
        <section *ngIf="selected == ''" id="err">
          <h1>Lütfen Sağ Taraftan Bölüm Seçiniz</h1>
        </section>
        <section *ngIf="selected !== ''" id="plan">
          <ng-container *ngFor="let table of tableViews">
            <div *ngIf="table.position" draggable='true' (dragstart)="dragStart($event,table)" (dragend)="changePosition($event,table)" [routerLink]="['/selling-screen','Normal', table._id]" class="relativeTable p-2"
              [ngClass]="{'bg-success': table.status == 2, 'bg-warning text-dark':table.status == 1, 'bg-danger text-white animated heartBeat slow infinite': table.status == 3, 'bg-indigo text-white animated tada slow infinite': table.status == 4 }" [style.height.px]="table.position.height" [style.width.px]="table.position.width" [style.left.px]="table.position.x"
              [style.top.px]="table.position.y">
              <h5>
                <strong>{{table.name}}</strong>
              </h5>
              <p class="absTableInfo">
                <i class="fa fa-user"></i> {{table.capacity}}
                <span *ngIf="table.status == 2" class="pull-right">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> {{table.timestamp | timeAgo }}
                </span>
                <span *ngIf="table.status == 3" class="pull-right">
                  <i class="fa fa-print" aria-hidden="true"></i>
                </span>
              </p>
            </div>
          </ng-container>
        </section>
      </div>


      <div *ngIf="section == 'Ödemeler'" class="card-body pt-0 flow">
        <section id="orders">
          <div class="row">
            <ng-container *ngFor="let receipt of receiptsView">
              <div class="col-xl-3 col-lg-4 mt-2 col-card check-card mb-3">
                <div class="card text-dark animated slow" [ngClass]="{'bg-warning': receipt.status == 1, 'bg-info' : receipt.status == 2 ,'bg-success fadeOut' : receipt.status == 3, 'bg-danger fadeOut' : receipt.status == 4}">
                  <div class="card-header pr-2 pl-2">
                    <b>
                      <span class="float-left">{{ findTable(receipt.check) }} <small style="font-weight: bold;">( {{receipt.user.name}} )</small></span>
                      <span class="float-right">{{ receipt.timestamp | date: 'HH:mm' }}</span>
                      <!-- <p>{{statusNote(order.status)}}</p> -->
                    </b>
                  </div>
                  <div class="card-header pr-2 pl-2">
                    <b>
                      <span class="float-left">{{ paymentNote(receipt.method) }}</span>
                      <span class="float-right">{{ receipt.total | price }}</span>
                    </b>
                  </div>
                  <div class="card-body pr-2 pl-2 pt-1 check-flow" style="height: 150px;">
                    <div class="text-center p-3">
                      <i *ngIf="receipt.status == 1" class="fa fa-hand-paper-o fa-4x" aria-hidden="true"></i>
                      <i *ngIf="receipt.status == 2" class="fa fa-circle-o-notch fa-spin fa-4x" aria-hidden="true"></i>
                      <i *ngIf="receipt.status == 3" class="fa fa-check fa-4x" aria-hidden="true"></i>
                      <i *ngIf="receipt.status == 4" class="fa fa-times fa-4x" aria-hidden="true"></i>
                      <p class="mt-3"><b>{{paymentStatus(receipt.status)}}</b></p>
                    </div>


                    <!-- <div *ngFor="let product of order.items" class="check-product">
                      <div class="product-name">
                        {{product.name}} {{product.type | titlecase}}
                        <p *ngIf="product.note"><small>{{product.note}}</small></p>
                      </div>
                      <div class="product-price">
                        {{product.price | price }}
                      </div>
                    </div> -->
                  </div>
                  <div class="card-footer p-2">
                    <div *ngIf="receipt.status == 1" class="btn-group btn-group-justify btn-block">
                      <button type="button" [disabled]="!isOwner(receipt.check)" (click)="cancelReceipt(receipt)" oneShot class="btn btn-danger ">İptal</button>
                      <button type="button" [disabled]="!isOwner(receipt.check)" (click)="acceptReceipt(receipt)" oneShot class="btn btn-success btn-block">Onayla</button>
                    </div>
                    <button *ngIf="receipt.status == 2 && receipt.method !== 4" [disabled]="!isOwner(receipt.check)" type="button" (click)="approoveReceipt(receipt)" oneShot class="btn btn-success btn-block">Tamamla</button>
                    <!-- <button *ngIf="receipt.status == 2 " type="button" (click)="approoveReceipt(receipt)" oneShot class="btn btn-success btn-block">Tamamla</button> -->
                    <h5 *ngIf="receipt.status == 2 && receipt.method == 4" class="text-center mb-2 mt-2">Mobil Ödeme Bekleniyor</h5>
                    <h4 *ngIf="receipt.status == 3" class="text-center mb-1 mt-1">Ödeme Tamamlandı</h4>
                    <h4 *ngIf="receipt.status == 4" class="text-center mb-1 mt-1">İptal Edildi</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </section>
      </div>

      <!-- <div *ngIf="section == 'Paket Servis'" class="card-body p-0 flow">
        <table class="table  table-bordered table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th width="7%">#</th>
              <th width="33%">Müşteri</th>
              <th width="20%">Tutar</th>
              <th width="13%">Saat</th>
              <th width="17%">Kullanıcı</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let check of closedDelivery let i = index;"  [routerLink]="['/selling-screen','Order', check._id]" [ngClass]="{'table-warning text-dark': check.status == 1}">
              <td>{{i+1}}</td>
              <td>{{check.note}}</td>
              <td>{{check.total_price + check.discount | price}}
                <small *ngIf="check.discount > 0" class="pull-right text-danger">
                  <i class="fa fa-arrow-down" aria-hidden="true"></i> {{check.discount | price}}
                </small>
              </td>
              <td>{{check.timestamp | date:"HH:mm" }}</td>
              <td>{{check.owner}}</td>
            </tr>
          </tbody>
        </table>
        <h3 *ngIf="closedDelivery == undefined || closedDelivery.length == 0" class="text-center mt-5">Çağrı Yok</h3>
      </div> -->

    </div>
  </div>
  <div id="floorHolder" class="col-lg-2">
    <div [routerLink]="['/selling-screen','Fast', 'New']" class="card mb-2 bg-info text-white">
      <div class="card-body">
        <h2 class="mt-2"><i class="fa fa-sticky-note" aria-hidden="true"></i> Hızlı Hesap</h2>
      </div>
    </div>
    <div class="card mb-2" (click)="getTablesBy('All')" [ngClass]="{'bg-danger text-white':selected == ''}">
      <div class="card-body">
        <h2 class="mt-2">Tüm Masalar</h2>
      </div>
    </div>
    <div *ngFor="let floor of floors" (click)="getTablesBy(floor._id)" class="card mb-2" [ngClass]="{'bg-danger text-white':selected == floor._id}">
      <div class="card-body">
        <h2 class="mt-2">{{floor.name}}</h2>
      </div>
    </div>
  </div>
</div>
