<ul class="nav nav-tabs nav-justified" id="reportTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#groups" role="tab">
      <i class="fa fa-users" aria-hidden="true"></i> Gruplar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#users" role="tab">
      <i class="fa fa-user" aria-hidden="true"></i> Kullanıcılar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" data-toggle="tab" href="#auths" role="tab">
      <i class="fa fa-shield" aria-hidden="true"></i> İzinler</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" data-toggle="tab" href="#auths" role="tab">
      <i class="fa fa-id-badge" aria-hidden="true"></i> Kartlar</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="groups" role="tabpanel">
    <div class="card ntb">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-8">
            <h5 class="mt-2">Kullanıcı Grupları</h5>
          </div>
          <div class="col-lg-4 pr-2 pl-0">
            <button class="btn btn-danger btn-md btn-block" (click)="setDefault()" data-toggle="modal" data-target="#groupModal">
              <i class="fa fa-plus"></i> Kullanıcı Grubu Ekle
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-0 tab-height">
        <div class="row">
          <div class="col-lg-3 pr-0">
            <div class="card tab-inside-height">
              <div class="card-header">
                Gruplar
              </div>
              <div class="card-body p-0 flow">
                <div class="list-group">
                  <div *ngFor="let item of groups" class="btn-group btn-group-justify">
                    <button (click)="getGroup(item._id)" [ngClass]="{'list-group-item-warning' : selectedGroup == item._id}"
                      type="button" class="list-group-item list-group-item-action">{{item.name}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 pl-0">
            <form #groupDetailForm="ngForm" (ngSubmit)="updateGroup(groupDetailForm)">
              <div class="card tab-inside-height">
                <div class="card-header">
                  Ayrıntılar
                </div>
                <div class="card-body p-2 flow">
                  <h1 *ngIf="selectedGroup == undefined" class="text-center mt-5">Listeden Grup Seçiniz</h1>
                  <div [hidden]="selectedGroup == undefined">
                    <input type="hidden" name="_id" ngModel />
                    <input type="hidden" name="_rev" ngModel />
                    <input type="hidden" name="status" ngModel />
                    <input type="hidden" name="timestamp" ngModel />
                    <div class="form-group mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Grup Adı</div>
                        </div>
                        <input type="text" name="name" class="form-control form-control-lg" ngModel />
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Grup Açıklaması</div>
                        </div>
                        <input type="text" name="description" class="form-control form-control-lg" ngModel />
                      </div>
                    </div>
                    <h5 class="mt-4">Erişim Hakları</h5>
                    <table class="table  table-bordered text-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-center">Satış</th>
                          <th class="text-center">Kasa</th>
                          <th class="text-center">Gün Sonu</th>
                          <th class="text-center">Raporlar</th>
                          <th class="text-center">Ayarlar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td>
                            <input type="checkbox" name="store" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="cashbox" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="endoftheday" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="reports" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="settings" class="form-control" ngModel />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <h5 class="mt-3">Grup İzinleri</h5>
                    <table class="table  table-bordered text-center">
                      <thead>
                        <tr>
                          <th width="20%" class="text-center">Hesap İptal</th>
                          <th width="20%" class="text-center">Ürün İptal</th>
                          <th width="20%" class="text-center">Ödeme</th>
                          <th width="20%" class="text-center">İndirim</th>
                          <th width="20%" class="text-center">Gün Sonu</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td>
                            <input type="checkbox" name="cancelCheck" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="cancelProduct" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="payment" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="discount" class="form-control" ngModel />
                          </td>
                          <td>
                            <input type="checkbox" name="end" class="form-control" ngModel />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer" [hidden]="selectedGroup == undefined">
                  <div class="row">
                    <div class="col pr-1">
                      <button type="button" (click)="removeGroup(selectedGroup)" class="btn btn-danger btn-md btn-block">
                        <i class="fa fa-times" aria-hidden="true"></i> Grubu Sil</button>
                    </div>
                    <div class="col pl-1">
                      <button type="submit" class="btn btn-success btn-md btn-block">
                        <i class="fa fa-check" aria-hidden="true"></i> Değişiklikleri Kaydet</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <i class="fa fa-question-circle" aria-hidden="true"></i> Yardım
      </div>
    </div>
  </div>
  <div class="tab-pane" id="users" role="tabpanel">
    <div class="card ntb">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-8">
            <h5 class="mt-2">Kullanıcılar</h5>
          </div>
          <div class="col-lg-4 pr-2 pl-0">
            <button class="btn btn-danger btn-md btn-block" (click)="setDefault()" data-toggle="modal" data-target="#userModal">
              <i class="fa fa-plus"></i> Kullanıcı Ekle
            </button>
          </div>
        </div>
      </div>
      <div class="card-body tab-height p-0">
        <div class="row">
          <div class="col-lg-3 pr-0">
            <div class="card tab-inside-height">
              <div class="card-header">
                Gruplar
              </div>
              <div class="card-body p-0 flow">
                <div class="list-group">
                  <button (click)="getUsersByGroup(null)" type="button" class="list-group-item list-group-item-action">Bütün
                    Kullanıcılar</button>
                  <button *ngFor="let item of groups" (click)="getUsersByGroup(item._id)" type="button" class="list-group-item list-group-item-action">
                    {{item.name}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 pl-0">
            <div class="card tab-inside-height">
              <div class="card-header pt-2 pb-2">
                <div class="row">
                  <div class="col-lg-6 pt-1">
                    Kullanıcılar
                  </div>
                  <div class="col-lg-6 pr-2 pl-0">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend normal">
                        <div class="input-group-text">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                      </div>
                      <input #userName type="text" placeholder="Kullanıcı Adı Giriniz.." (click)="userName.value = '';"
                        (keydown)="filterUsers(userName.value)" class="form-control form-contol-sm">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body flow p-0">
                <table class="table table-striped table-hover  table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th width="7%">
                        <i class="fa fa-user"></i>
                      </th>
                      <th width="43%">Kullanıcı Adı</th>
                      <th width="25%">Görevi</th>
                      <th width="25%">Tarih</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users; let i = index;" (click)="updateUser(user._id)">
                      <td>{{ i+1 }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.role_id | general:'users_group' | async }}</td>
                      <td>{{ user.timestamp | date:'dd/MM/y'}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="users == undefined || users.length == 0" class="row mt-5">
                  <div class="col-lg-12 mt-5">
                    <h2 class="text-center mt-3">Eşleşen Kullanıcı Bulunamadı</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <i class="fa fa-question-circle" aria-hidden="true"></i> Yardım
      </div>
    </div>
  </div>
  <div class="tab-pane" id="auths" role="tabpanel">
    <div class="card ntb">
      <div class="card-header">
        <h5 class="mt-2">Kullanıcı İzinleri</h5>
      </div>
      <div class="card-body tab-height flow">

      </div>
      <div class="card-footer">
        <i class="fa fa-question-circle" aria-hidden="true"></i> Yardım
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Grup</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #groupForm="ngForm" (ngSubmit)="addGroup(groupForm)">
        <div *ngIf="onUpdate">
          <input type="hidden" name="_id" ngModel />
          <input type="hidden" name="_rev" ngModel />
          <input type="hidden" name="status" ngModel />
          <input type="hidden" name="timestamp" ngModel />
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  Grup Adı
                </div>
              </div>
              <input type="text" name="name" class="form-control form-control-lg" ngModel />
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  Grup Açıklaması
                </div>
              </div>
              <input type="text" name="description" class="form-control form-control-lg" ngModel />
            </div>
          </div>
          <h5 class="mt-3">Bölüm Erişim Hakları</h5>
          <table class="table  table-bordered text-center">
            <thead>
              <tr>
                <th width="20%" class="text-center">Satış</th>
                <th width="20%" class="text-center">Kasa</th>
                <th width="20%" class="text-center">Gün Sonu</th>
                <th width="20%" class="text-center">Raporlar</th>
                <th width="20%" class="text-center">Ayarlar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>
                  <input type="checkbox" name="store" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="cashbox" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="endoftheday" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="reports" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="settings" class="form-control" ngModel />
                </td>
              </tr>
            </tbody>
          </table>
          <h5 class="mt-3">Grup İzinleri</h5>
          <table class="table  table-bordered text-center">
            <thead>
              <tr>
                <th width="20%" class="text-center">Hesap İptal</th>
                <th width="20%" class="text-center">Ürün İptal</th>
                <th width="20%" class="text-center">Ödeme</th>
                <th width="20%" class="text-center">İndirim</th>
                <th width="20%" class="text-center">Gün Sonu</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>
                  <input type="checkbox" name="cancelCheck" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="cancelProduct" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="payment" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="discount" class="form-control" ngModel />
                </td>
                <td>
                  <input type="checkbox" name="end" class="form-control" ngModel />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Kullanıcı</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
        <div class="modal-body">
          <div *ngIf="onUpdate">
            <input type="hidden" name="_id" ngModel>
            <input type="hidden" name="_rev" ngModel>
            <input type="hidden" name="status" ngModel>
            <input type="hidden" name="timestamp" ngModel>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Kullanıcı Adı</div>
              </div>
              <input type="text" name="name" class="form-control form-control-lg" ngModel />
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Görevi</div>
              </div>
              <select #role name="role_id" class="form-control form-control-lg" ngModel>
                <option *ngFor="let item of groups" value="{{item._id}}">{{item.name}}</option>
              </select>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  Parola
                </div>
              </div>
              <input type="password" maxlength="4" name="pincode" class="form-control form-control-lg" ngModel />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
          <button *ngIf="onUpdate" type="button" class="btn btn-danger btn-lg" (click)="removeUser(selectedUser)">
            Kullanıcıyı Sil</button>
          <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>